{% extends "base.html" %}
{% block content %}
<h2>سبد خرید</h2>

<ul>
  {% for i in items %}
    <li style="margin:8px 0;">
      {{ i.title }} - {{ i.price }}

      <form method="post" action="{% url 'orders:cart_remove' i.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">حذف</button>
      </form>
    </li>
  {% empty %}
    <li>سبد خرید خالی است.</li>
  {% endfor %}
</ul>

<p><b>جمع:</b> {{ total }}</p>

{% if items %}
  <a href="{% url 'orders:checkout' %}">ادامه و پرداخت</a>
{% endif %}
{% endblock %}